*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background: linear-gradient(to right, #f2a221, #e940a8,#8a2387);
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main
{
    height: 100vh;
}
.box1, .box2{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: absolute;
    border: 15px solid white;
}

.box1{
    border-top: 15px solid transparent;
    border-bottom: 15px  solid transparent;
    animation: anim 1s linear infinite;
}
.box2{
    
    border-left: 15px  solid transparent;
    border-right: 15px solid transparent;
    animation: anim2 1.3s linear infinite;
}

@keyframes anim {
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(180deg);
    }
}
@keyframes anim2 {
    0%{
        transform: rotate(180deg);
    }
    
    100%{
        transform: rotate(0deg);
    }
}
.dot
{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: white;
    animation: anim3 1.2s linear infinite;

}
@keyframes anim3 {
    0% ,100%{
        transform: scale(0.4);
        opacity: 0.2;
    }
    
    50%{
        transform: scale(1);
        opacity: 1;
    }
}